.input-llarg {
  width: 250px;
  height: 23px;
  font-size: 12Px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 0px;
}

.justificat-dreta {
	text-align: right;
}

.padding-50 {
	padding-top:50px;
}