table.table-small {
  font-size: 11px;
}
table.table-auxiliar {
  width: 100%;
  margin: 0;
  line-height: 20px;
}
.table-auxiliar th,
.table-auxiliar td {
  background-color: #EEEEFF;
  border-style: none;
  border-left: none;
  border-bottom: none;
}
table.table-gap {
  font-size: 14px;
  border: 2px solid #CCCCCC;
}
.table-gap thead th {
  background-color: #EEEEEE;
}
.table-gap thead th,
.table-gap td {
  vertical-align: middle;
  padding: 5px 10px;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
table.table-agrupada {
  font-size: 11px;
  align: center;
  width: 40%;
}
.table-agrupada thead th,
.table-agrupada tbody th {
  background-color: #EEEEEE;
  border-bottom: 1px solid #666666;
}
.table-agrupada thead th,
.table-agrupada td {
  vertical-align: middle;
  padding: 1px 3px;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

table.table-agrupada2 {
  font-size: 11px;
}
.table-agrupada2 thead th {
  color: #FFFFFF;
  background-color: #000000;
}
.table-agrupada2 thead th,
.table-agrupada2 td {
  vertical-align: middle;
  padding: 1px 3px;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

select optgroup{
  background: #000000;
  color: #FFFFFF;
}
select option{
  background: #FFFFFF;
  color: #000000;
}
select option[class*="ok"]{
  background: #D8FFD8;
}
select option[class*="pre"]{
  background: #FFD8AA;
}
select optgroup{
  background: #000000;
  color: #FFFFFF;
}
select option{
  background: #FFFFFF;
  color: #000000;
}
select option[class*="ok"]{
  background: #D8FFD8;
}
select option[class*="pre"]{
  background: #FFD8AA;
}
.table-agrupada tr[class*="ok"],
.table-agrupada th[class*="ok"],
.table-agrupada td[class*="ok"] {
  background: #D8FFD8;
}
.table-agrupada tr[class*="pre"],
.table-agrupada th[class*="pre"],
.table-agrupada td[class*="pre"] {
  background: #FFD8AA;
}
.table-agrupada th[class*="colini"],
.table-agrupada td[class*="colini"] {
  border-left: 2px solid #000000;
}
.table-agrupada th[class*="colfi"],
.table-agrupada td[class*="colfi"] {
  border-right: 2px solid #000000;
}
.table-agrupada th[class*="rowini"],
.table-agrupada td[class*="rowini"] {
  border-top: 2px solid #000000;
}
.table-agrupada th[class*="rowfi"],
.table-agrupada td[class*="rowfi"] {
  border-bottom: 2px solid #000000;
}
.table-agrupada th[class*="buit"],
.table-agrupada td[class*="buit"] {
  border: 0px;
  background: #FFFFFF;
}
.table-agrupada th[class*="blanc"],
.table-agrupada td[class*="blanc"] {
  color: #000000;
  background: #FFFFFF;
}
.table-agrupada th[class*="gris"],
.table-agrupada td[class*="gris"] {
  color: #000000;
  background: #DDDDDD;
}
.table-agrupada th[class*="negre"],
.table-agrupada td[class*="negre"] {
  color: #FFFFFF;
  background: #000000;
}
.table th[class*="verd"],
.table-auxiliar td[class*="verd"],
.table-agrupada th[class*="verd"],
.table-agrupada td[class*="verd"],
.table-agrupada2 th[class*="verd"],
.table-agrupada2 td[class*="verd"] {
  color: #000000;
  background: #BAF2BB;
}
.table-agrupada th[class*="groc"],
.table-agrupada td[class*="groc"],
.table-agrupada2 th[class*="groc"],
.table-agrupada2 td[class*="groc"] {
  color: #000000;
  background: #F3D585;
}
.table-agrupada th[class*="titol"],
.table-agrupada td[class*="titol"] {
  background: #DDDDDD;
  font-size: 14px;
}
.table-agrupada th[class*="subtitol"],
.table-agrupada td[class*="subtitol"] {
  background: #EEEEEE;
  font-size: 13px;
}
.table-agrupada td[class*="dreta"] {
	text-align: right;
}
.table-agrupada th.check-uncheck {
        min-width: 23px;
}
table.table-hdds {
  font-size: 11px;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: #CCCCCC -moz-use-text-color;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-collapse: separate;
  border-image: none;
  border-bottom: 0px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
.table-hdds th,
.table-hdds td {
  vertical-align: middle;
  padding: 1px 3px;
  border-top: 0px solid #CCCCCC;
  border-left: 0px solid #CCCCCC;
  border-bottom: 0px solid #CCCCCC;
}
.combobox  * {
  font-family: Tahoma;
  font-size: 12px
}
.combobox  {
  position: relative;
}
.combobox  .dropdownlist  {
  display: none;
  width: 300px;
  border: solid 1px #000;
  height: 200px;
  overflow: auto;
  position: absolute;
  background-color: #fff;
  top: 25px;
  left: 0px;
}
.combobox  .dropdownlist a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1px;
}
.combobox  .dropdownlist a.light {
  color: #fff;
  background-color: #007
}
.combobox  .dropdownlist, input {
  font-family: Tahoma;
  font-size: 12px;
}
.combobox  input {
  float: left;
  width: 182px;
  border: solid 1px #ccc;
  height: 15px
}
.combobox  span {
  border: solid 1px #ccc;
  background: #eee;
  width: 20px;
  height: 20px;
  float: left;
  text-align: center;
  border-left: none;
  font-weight: 600;
  margin-top: 2px
}
select[id="filesPagina"] {
    width: 55px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
}
.row-fluid [class*="span"] {
    min-height: 20px;
}

.sub-capcalera {
  padding: 3px 10px 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: inherit;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.no-space [class*="span"] {
    margin-left: 0;
}
.min-space [class*="span"] {
    margin-left: 5px;
}
.capcalera-pagina {
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 4px 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.capcalera-pagina-inversa {
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 4px 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background-color: #cccccc;
  border: 2px solid #000000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.capcalera {
  padding: 10px 50px 10px 25px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.capcalera.ok{
    background-color: #D8FFD8;
}
.capcalera.pre{
    background-color: #FFD8AA;
}
.capcalera th,
.capcalera td {
  vertical-align: middle;
}
.capcalera h5 {
  line-height: 5px;
}
.input-micro {
  width: 45px;
  height: 11px;
}
.btn {
    padding: 0px 12px;
}
.btn-mini {
    border-radius: 3px 3px 3px 3px;
    font-size: 10.5px;
    padding: 1px 6px;
}
.btn-micro {
    border-radius: 3px 3px 3px 3px;
    font-size: 11px;
    padding: 0px 5px;
}
.etiqueta {
    font-size: 12px;
    font-weight: 200;
}
.valor {
    font-size: 12px;
    font-weight: 600;
}
.page-header {
    margin: 20px 0 10px;
    padding-bottom: 0;
}
.pagination {
    margin: 0;
    line-height: 0;
}
hr {
    margin: 0; 
}
.chzn-select-persones {
    width:350px;
}
.modal-body-chosen {
    height:300px;
}
.select-filtre {
  margin-bottom: 0px;
  margin-left: 5px;
  height: 25px;
  font-size: 11px;
  vertical-align: middle;
  padding: 4px 2px;
  multiple: ;
}
.input-filtre {
  margin-bottom:0px;
  height: 23px;
  font-size: 11px;
  vertical-align: middle;
  padding: 0 2px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #CCCCCC;
}
.fila-filtre {
  background-color: #AAAAAA;
  font-weight: bold;
}
/* tables */
table.tablesorter thead tr .header {
        background-image: url("../img/bg.gif");
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
        background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
        background-image: url("../img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
.botonera {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #CCCCCC;
}