body {
    height: 100%;
    padding-top: 45px;
    padding-bottom: 10px;
}
.sidebar-nav {
    padding: 9px 0;
}
.logo { 
	width:37px;
	height:37px; 
}
.navbar .brand {
    padding: 1px 15px;
}
.contingut {
  width: 95%;
}

.table th.center-vertical,
.table td.center-vertical {
  text-align: left;
  vertical-align: middle;
}

.table td.center,
.table th.center {
  text-align: center;
  padding: 1px 1px 1px 1px;
}
.table td.right,
.table th.right {
  text-align: right;
}
}
.modal-xl {
  width: 92%;
  top: 4%;
  left: 3%;
  margin: 0;
  background-color: #ffffff;
}
.breadcrumb {
    margin: 4px 0;
    padding: 2px 15px;
    font-size: 12px;
}
.form-modal {
  margin: 0px;
}

#wrap {
min-height: 100%;
}

#main {
overflow:auto;
padding-bottom:50px; /* this needs to be bigger than footer height*/
}

#footer {
	clear:both;
	border: 1px groove #aaaaaa;
	background: White;
	color: Black;
	padding: 0px;
	padding-left: 8px;
	text-align: left;
	vertical-align: middle;
	line-height: 20px;
	margin: 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.navbar-inverse .nav > li > a {
  color: #FFFFFF;
}

.row-table {
  margin-right: -0px;
  margin-left: -0px;
}