.container-mesgran {
  width: 1220px;
}

.color-moccasin {
	background-color: moccasin !important;
}

.center {
	text-align: center;
}

.navbar-btn.btn-sm {
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn {
    padding: 0px 2px;
}

.btn-transparent {
  background-color: transparent;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb98b;
  border-color: #4cae4c;
}

table-agrupada td[class*="color-total"] {
  background-color: #428bca;
}

.checkbox-inline input[type="checkbox"] {
    margin-left: -15px;
    margin-top: 0px;
}

.checkbox-inline {
  padding-left: 50px;
} 

.table td span.color-blau { 
	color: #428bca;
}	

.table td span.text-normal { 
	font-weight: normal;
}	

.table-agrupada td.color-vermell { 
	background-color: #F78181;
}	
.table td.color-moccasin { 
	background-color: moccasin !important;
}	

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;
}
.pagination-right {
  text-align: right;
}
.pagination-mini > li > a,
.pagination-mini > li > span {
  padding: 1px 6px;
  font-size: 10.5px;
}

.pagination-mini > li:first-child > a,
.pagination-mini > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-mini > li:last-child > a,
.pagination-mini > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
 }
  
  .capcalera-pagina-nivell1 {
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
  .modal-content {
  	width: 1000px;
  	left: -40%;
  }	

  .color-vermell {
		color: #a33;
 }
 
 .form-control {
 	color: #000000;
}

	.modal-gran {
		position: fixed;
}		